.App-header {
  background-color: #ccc; /* Light gray color */
  height: 100px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  padding: 0 20px; /* Add some padding for spacing */
}

#edwards-logo {
  height: 100px;
}

#generate-template-button {
  display: flex; 
}

#editor{
  width: 8.5in; /* Width of a letter-sized page */
  height: 11in; /* Height of a letter-sized page */
  border: 1px solid black; /* Solid black border */
  box-sizing: border-box; /* Include border in the total width and height */
  overflow: auto;
}